div {
  border: 1px solid;
}
body {
  margin: 0%;
}
h1 {
  /* ! This is the font family which is related tto the GOOGLE FONT  link */
  font-family: "Abril Fatface", cursive;
}
.cdnm {
  color: rgb(14, 77, 77);
}
span {
  color: rgb(14, 14, 235);
}
.flexible-container {
  display: flex;
  margin-bottom: 75px;
}
.basic-width {
  width: 50%;
  padding: 15px;
}
.basic-width img {
  width: 60%;
  margin-top: 20%;
  margin-left: 60px;
  margin-bottom: 100px;
}
.hire-me {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  font-weight: 800;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
}
/* ! Bottom Banner */
.top-banner {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}
.bottom-banner {
  background-image: url(./images/keepz-moving.png);
  background-repeat: no-repeat;
  background-position: right;
}

/* ! Experience Section */
.box {
  margin: 5%;
}
/* ! Applying BOX SHADOW */
.box-item {
  padding: 30px;

  margin: 60px;
  box-shadow: 10px 10px 50px gray;
}
