div{
  border: 1px solid;
}
h1 {
  /* ! This is the font family which is related tto the GOOGLE FONT  link */
  font-family: "Abril Fatface", cursive;
}
#cdnm{
  color:rgb(14, 77, 77);
}
span {
  color: rgb(14, 14, 235);
}
